default:
    suites:
        default:
            contexts:
                - behatch:context:json
                - App\Tests\Behat\AppRestContext
                - App\Tests\Behat\AppMinkContext
    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: App\Kernel
                environment: test
        Behatch\Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony: ~